html, body {
	width: 100%;
	height: 100%;
	background: rgb(236,179,0);
	text-align: center;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

/* 标题效果 */
.head {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.head h1 {
	font-size: 100px;
	letter-spacing: 10px;
	color: rgb(240, 240, 69);
	position: relative;
}
.head h1::after {
	content: attr(data-spotlight);
	position: absolute;
	top: 0;
	left: 0;
	color: blueviolet;
	-webkit-clip-path: ellipse(100px 100px at 0% 50%);
	clip-path: ellipse(100px 100px at 0% 50%);
	animation: spotLight 5s infinite;
}
@keyframes spotLight {
	0%{
		-webkit-clip-path: ellipse(100px 100px at 0% 50%);
		clip-path: ellipse(100px 100px at 0% 50%);
	}

	50% {
		-webkit-clip-path: ellipse(100px 100px at 100% 50%);
		clip-path: ellipse(100px 100px at 100% 50%);
	}

	100%{
		-webkit-clip-path: ellipse(100px 100px at 0% 50%);
		clip-path: ellipse(100px 100px at 0% 50%);
	}
}

/* 游戏样式 */
.game {
	display: flex;
	justify-content: center;
	align-items: center;
}

.desc {
	flex: 1 1 auto;
}

.game-container {
	flex: 1 1 auto;
}

.operation {
	text-align: left;
	margin-left: 25%;
	padding: 5%;
}

#map-container {
	width: 500px;
	height: 500px;
	margin: auto;
	border: black solid 2px;
	position: relative;
	margin-bottom: 100px;
}

.snake {
	width: 10px;
	height: 10px;
	position: absolute;
	font-size: 0;
	margin:0;
	padding:0;
	background-color: red;
	/* display: flex;
	flex-direction: column; */
}

.food {
	width: 10px;
	height: 10px;
	position: absolute;
	font-size: 0;
	margin:0;
	padding:0;
	background-color: black;
}

.snake-container {
	display: flex;
	flex-direction: column;
}

.middle {
	width: 100%;
	margin: auto;
}

button {
    background-color: rgb(117, 43, 202);
    border:none;
    box-shadow: 3px 3px 10px black;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 35px;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
    opacity: 0.8;
    border-radius: 5%;
    margin-bottom: 3px;
    margin-top: 3px;
}

button:hover {
    opacity: 1;
    transform: scale(1.05);
}

.speed-controller {
	display: inline;
}